<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerLinks}}
</head>
<body>
    {{>navbar}}
 
<!-- main-header -->
<div class="container-fluid main_header">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <div class="row">
                <!-- left Side Div -->
                <div class="col-md-4 col-12 main_header_right align-items-center">
                    <figure>
                        <img src="image/bhushan2.png"alt="It's Bhushan Here" class="img-fluid" title="bhushan">
                    </figure>

                </div>
                <div class="col-md-8 col-12 main_header_left">
                    <p>Welcome to Creater Page :)</p>
                    <h1>I Am A <span class="text-clr">Computer Science Engineering Student </span> And Tuter for Upto Entermediate Along With Good Artist And Desiner </h1>
                    <a href="/about"><button>About Me</button></a>
                </div>
                <!-- Right Side Div -->
                
             </div>

        </div>
    </div>
</div>
<!-- footer  -->
{{>footer}}
</body>
</html>