<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerLinks}}
</head>
<body>
    {{>navbar}}
 
<!-- main-header -->
<div class="container-fluid main_header">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <div class="row">
                <!-- left Side Div -->
                <div class="col-md-12 col-12 main_header_left align-items-center">
                    <figure class="errImg">
                        <img src="image/404.png"alt="It's Bhushan Here" class="img-fluid" title="bhushan">
                    </figure>

                    <p>Visit Us Again</p>
                    <h1>{{errorMsg}}</h1>                    
                    <a href="/"><button>Check Again</button></a>
                </div>
                <!-- Right Side Div -->
                
             </div>

        </div>
    </div>
</div>
<!-- footer  -->
{{>footer}}
</body>
</html>